<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://storage.googleapis.com/meet/render/iframe_dist.html"></script>
</head>

<body>
    <div class="container">
        <h2>Welcome to Saroov AI!</h2>
        <form action="{% url 'create_and_launch_meeting' %}" method="post">
            {% csrf_token %}
            <button type="submit">New Interview</button>
        </form>
    </div>
</body>

</html>