<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://storage.googleapis.com/meet/render/iframe_dist.html"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          gapi.load('meet', function(){
            var meeting = new gapi.meet.Meeting({ 'meetingId': '{{ id }}' });
            meeting.attachToElement(document.getElementById('meet-embed'));
          });
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="meet-embed"></div>
        <div>Sarvoo is always the first to join!</div>
    </div>
</body>
</html>
